src/main/resources/xsd/draft.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:annox="http://annox.dev.java.net" jxb:extensionBindingPrefixes="annox">
	<xsd:element name="ecvetFramework" type="ecvetFrameworkType">
		<xsd:annotation>
			<xsd:documentation>ECVET is a technical framework for the transfer, recognition and, where appropriate, accumulation of individuals’ learningoutcomes with a view to achieving a qualification. ECVET
				tools and methodology comprise the description of qualifi­cations in terms of units of learning outcomes with associated points, a transfer and accumulation process andcomplementary documents such
				as learning agreements, transcripts of records and ECVET users’ guides.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ecvetFrameworkType">
		<xsd:annotation>
			<xsd:appinfo>
				<annox:annotate target="field">
					<Entity annox:class="javax.persistence.Entity"></Entity>
					<Table annox:class="javax.persistence.Table" name="ecvetframework"></Table>
				</annox:annotate>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="evcetElement">
				<xsd:sequence>
					<xsd:element name="competentInstitutionList" type="competentInstitutionListType">
						<xsd:annotation>
							<xsd:appinfo>
								<annox:annotate target="field">
									<OneToOne annox:class="javax.persistence.OneToOne" targetEntity="eu.open_ecvet.entity.CompetentInstitutionListType"></OneToOne>
								</annox:annotate>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="complementaryDocumentList" type="complementaryDocumentListType">
						<xsd:annotation>
							<xsd:appinfo>
								<annox:annotate target="field">
									<OneToOne annox:class="javax.persistence.OneToOne" targetEntity="eu.open_ecvet.entity.ComplementaryDocumentListType"></OneToOne>
								</annox:annotate>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="qualification" type="qualificationType">
						<xsd:annotation>
							<xsd:appinfo>
								<annox:annotate target="field">
									<OneToOne annox:class="javax.persistence.OneToOne" targetEntity="eu.open_ecvet.entity.QualificationType"></OneToOne>
								</annox:annotate>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="qualificationType">
		<xsd:annotation>
			<xsd:appinfo>
				<annox:annotate target="field">
					<Entity annox:class="javax.persistence.Entity"></Entity>
					<Table annox:class="javax.persistence.Table" name="qualification"></Table>
				</annox:annotate>
			</xsd:appinfo>
			<xsd:documentation>
				According to: C 155/14 Annex 1 - Definitions (a) -- 'Qualification’ means a formal outcome of an assessment and validation process which is obtained when a competent institution
				determines that an
				individual has achieved learning outcomes to given standards
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="evcetElement">
				<xsd:sequence>
					<xsd:element name="unitList" type="unitListType">
						<xsd:annotation>
							<xsd:appinfo>
								<annox:annotate target="field">
									<OneToOne annox:class="javax.persistence.OneToOne" targetEntity="eu.open_ecvet.entity.UnitListType"></OneToOne>
								</annox:annotate>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="complementaryDocumentListType">
		<xsd:annotation>
			<xsd:documentation>
				ANNEX II ECVET — PRINCIPLES AND TECHNICAL SPECIFICATIONS -- ECVET tools and methodology comprise the description of qualifi­cations in terms of units of learning outcomes with
				associated points, a
				transfer and accumulation process andcomplementary documents such as learning agreements, transcripts of records and ECVET users’ guides. TODO: own type with file attachments
			</xsd:documentation>
			<xsd:appinfo>
				<annox:annotate target="field">
					<Entity annox:class="javax.persistence.Entity"></Entity>
					<Table annox:class="javax.persistence.Table" name="complementarydocumentlist"></Table>
				</annox:annotate>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="evcetElement">
				<xsd:sequence>
					<xsd:annotation>
						<xsd:documentation>
							TODO: all this elements must extend complementaryDocumentList (which allows to attach files etc)
						</xsd:documentation>
					</xsd:annotation>
					<xsd:element name="learningAgreementList" type="learningAgreementListType">
						<xsd:annotation>
							<xsd:appinfo>
								<annox:annotate target="field">
									<OneToOne annox:class="javax.persistence.OneToOne" targetEntity="eu.open_ecvet.entity.LearningAgreementListType"></OneToOne>
								</annox:annotate>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="transcriptionOfRecords" type="xsd:string" />
					<xsd:element name="userGuide" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="unitListType">
		<xsd:annotation>
			<xsd:appinfo>
				<annox:annotate target="field">
					<Entity annox:class="javax.persistence.Entity"></Entity>
					<Table annox:class="javax.persistence.Table" name="unitlist"></Table>
				</annox:annotate>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="evcetElement">
				<xsd:sequence>
					<xsd:element name="unit" type="unitType" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo>
								<annox:annotate target="field">
									<ManyToMany annox:class="javax.persistence.ManyToMany">
										<cascade>PERSIST</cascade>
										<cascade>MERGE</cascade>
										<cascade>DETACH</cascade>
									</ManyToMany>
									<JoinTable annox:class="javax.persistence.JoinTable">
										<joinColumns>
											<JoinColumn annox:class="javax.persistence.JoinColumn" name="unitlist_id"></JoinColumn>
										</joinColumns>
										<inverseJoinColumns>
											<JoinColumn annox:class="javax.persistence.JoinColumn" name="unit_id"></JoinColumn>
										</inverseJoinColumns>
									</JoinTable>
								</annox:annotate>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="unitType">
		<xsd:annotation>
			<xsd:appinfo>
				<annox:annotate target="field">
					<Entity annox:class="javax.persistence.Entity"></Entity>
					<Table annox:class="javax.persistence.Table" name="unit"></Table>
				</annox:annotate>
			</xsd:appinfo>
			<xsd:documentation>
				According to: C 155/14 Annex 1 - Definitions (c) -- ‘Unit of learning outcomes’ (unit) means a component of a qualification, consisting of a coherent set of knowledge, skills and
				competence, that can be
				assessed and validated. Possibly ambiguous -&gt; the child element which follow here is a set of learningOutcomes (which represent the KSC terms)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="evcetElement">
				<xsd:sequence>
					<xsd:element name="credit" type="xsd:int">
						<xsd:annotation>
							<xsd:documentation>
								TODO: JEMI possibly ambiguous
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="weightSum" type="xsd:int">
						<xsd:annotation>
							<xsd:documentation>
								According to: C 155/14 Annex 1 - Definitions (i) ‘ECVET points’ means a numerical representation of the overall weight of learning outcomes in a qualification and of the
								relative weight of units in
								relation to the qualification. This is the sum of all single weight elements which occure as childs under learningOutcomeTerm
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="relativeWeight" type="xsd:int">
						<xsd:annotation>
							<xsd:documentation>
								According to: C 155/14 Annex 1 - Definitions (i) ‘ECVET points’ means a numerical representation of the overall weight of learning outcomes in a qualification and of the
								relative weight of units in
								relation to the qualification. Convenient field. The weightSum in relation to the overall weight
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="learningOutcomeList" type="learningOutcomeListType">
						<xsd:annotation>
							<xsd:appinfo>
								<annox:annotate target="field">
									<OneToOne annox:class="javax.persistence.OneToOne" targetEntity="eu.open_ecvet.entity.LearningOutcomeListType"></OneToOne>
								</annox:annotate>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="referenceLevelList" type="referenceLevelListType">
						<xsd:annotation>
							<xsd:appinfo>
								<annox:annotate target="field">
									<OneToOne annox:class="javax.persistence.OneToOne" targetEntity="eu.open_ecvet.entity.ReferenceLevelListType"></OneToOne>
								</annox:annotate>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="achievement" type="achievementType" />
					<xsd:element name="unitList" type="unitListType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								not explicitly recommended but useful to organize the content and also used in pilot projects (we can comment out this in the first draft)
							</xsd:documentation>
							<xsd:appinfo>
								<annox:annotate target="field">
									<OneToOne annox:class="javax.persistence.OneToOne" targetEntity="eu.open_ecvet.entity.UnitListType"></OneToOne>
								</annox:annotate>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<!-- <xsd:element name="validityInTime" type="xsd:duration"> -->
					<!-- <xsd:annotation> -->
					<!-- <xsd:documentation> -->
					<!-- ECVET — PRINCIPLES AND TECHNICAL SPECIFICATIONS -->
					<!-- — 1. Units of learning -->
					<!-- outcomes — the validity in time of the -->
					<!-- unit, where relevant. -->
					<!-- </xsd:documentation> -->
					<!-- </xsd:annotation> -->
					<!-- </xsd:element> -->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="referenceLevelListType">
		<xsd:annotation>
			<xsd:appinfo>
				<annox:annotate target="field">
					<Entity annox:class="javax.persistence.Entity"></Entity>
					<Table annox:class="javax.persistence.Table" name="referencelevellist"></Table>
				</annox:annotate>
			</xsd:appinfo>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="evcetElement">
				<xsd:sequence>
					<xsd:element name="referenceLevel" type="referenceLevelType" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo>
								<annox:annotate target="field">
									<ManyToMany annox:class="javax.persistence.ManyToMany">
										<cascade>PERSIST</cascade>
										<cascade>MERGE</cascade>
										<cascade>DETACH</cascade>
									</ManyToMany>
									<JoinTable annox:class="javax.persistence.JoinTable">
										<joinColumns>
											<JoinColumn annox:class="javax.persistence.JoinColumn" name="referencelevellist_id"></JoinColumn>
										</joinColumns>
										<inverseJoinColumns>
											<JoinColumn annox:class="javax.persistence.JoinColumn" name="referencelevel_id"></JoinColumn>
										</inverseJoinColumns>
									</JoinTable>
								</annox:annotate>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="referenceLevelType">
		<xsd:annotation>
			<xsd:appinfo>
				<annox:annotate target="field">
					<Entity annox:class="javax.persistence.Entity"></Entity>
					<Table annox:class="javax.persistence.Table" name="referencelevel"></Table>
				</annox:annotate>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="evcetElement">
				<xsd:sequence>
					<xsd:element name="indication" type="xsd:string" />
				</xsd:sequence>
				<xsd:attribute name="framework" type="frameworkType">
					<xsd:annotation>
						<xsd:appinfo>
							<annox:annotate target="field">
								<Enumerated annox:class="javax.persistence.Enumerated">
									<EnumType>STRING</EnumType>
								</Enumerated>
							</annox:annotate>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="frameworkLevel" type="frameworkLevelType"></xsd:attribute>
				<xsd:attribute name="frameworkTerm" type="frameworkTermType">
					<xsd:annotation>
						<xsd:appinfo>
							<annox:annotate target="field">
								<Enumerated annox:class="javax.persistence.Enumerated">
									<EnumType>STRING</EnumType>
								</Enumerated>
							</annox:annotate>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="learningOutcomeListType">
		<xsd:annotation>
			<xsd:appinfo>
				<annox:annotate target="field">
					<Entity annox:class="javax.persistence.Entity"></Entity>
					<Table annox:class="javax.persistence.Table" name="learningoutcomelist"></Table>
				</annox:annotate>
			</xsd:appinfo>
			<xsd:documentation>
				According to: C 155/14 Annex 1 - Definitions (b) -- ‘Learning outcomes’ means statements of what a learner knows, understands and is able to do on completion of a learning
				process and which are defined in
				terms of knowledge, skills and competence;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="evcetElement">
				<xsd:sequence>
					<xsd:element name="learningOutcome" type="learningOutcomeType" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo>
								<annox:annotate target="field">
									<ManyToMany annox:class="javax.persistence.ManyToMany">
										<cascade>PERSIST</cascade>
										<cascade>MERGE</cascade>
										<cascade>DETACH</cascade>
									</ManyToMany>
									<JoinTable annox:class="javax.persistence.JoinTable">
										<inverseJoinColumns>
											<JoinColumn annox:class="javax.persistence.JoinColumn" name="learningoutcomelist_id"></JoinColumn>
										</inverseJoinColumns>
										<joinColumns>
											<JoinColumn annox:class="javax.persistence.JoinColumn" name="learningoutcome_id"></JoinColumn>
										</joinColumns>
									</JoinTable>
								</annox:annotate>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="learningOutcomeType">
		<xsd:annotation>
			<xsd:appinfo>
				<annox:annotate target="field">
					<Entity annox:class="javax.persistence.Entity"></Entity>
					<Table annox:class="javax.persistence.Table" name="learningoutcome"></Table>
				</annox:annotate>
			</xsd:appinfo>
			<xsd:documentation>
				According to: C 155/14 Annex 1 - Definitions (b) -- a single learning outcome represents the statement, which is described in the defintion
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="evcetElement">
				<xsd:sequence>
					<xsd:element name="title" type="xsd:string" />
					<xsd:element name="credit" type="xsd:int">
						<xsd:annotation>
							<xsd:documentation>
								According to: C 155/14 Annex 1 - Definitions (d) -- ‘Credit for learning outcomes’ (credit) means a set of learning outcomes of an individual which have been assessed and
								which can be accumulated
								towards a qualification or transferred to other learning programmes or qualifications
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="learningOutcomeTermList" type="learningOutcomeTermListType">
						<xsd:annotation>
							<xsd:documentation>
								According to: C 155/14 Annex 1 - Definitions (b) -- Actually a definition of terms of knowlege, skills and competences must follow here. But this is possibly ambiguous, if a
								nqf is used to descibe the
								outcome (and which might use other terms)
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="learningOutcomeTermListType">
		<xsd:sequence>
			<xsd:element name="learningOutcomeTerm" maxOccurs="unbounded" type="learningOutcomeTermType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="learningOutcomeTermType">
		<xsd:annotation>
			<xsd:documentation>which are defined in terms of knowledge, skills and competence;
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="title" type="xsd:string" />
			<xsd:element name="referenceLevelList" type="referenceLevelListType" />
			<xsd:element name="weight" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>
						According to: C 155/14 Annex 1 - Definitions (i) ‘ECVET points’ means a numerical representation of the overall weight of learning outcomes in a qualification and of the
						relative weight of units in
						relation to the qualification.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="achievement" type="achievementType">
				<xsd:annotation>
					<xsd:documentation>
						constructed in a way that enables discrete assessment and validation of learning outcomes contained in the unit. review tom: discrete means in the context separated from each
						other (and the German
						translation agrees with me) so the assessement and validation elements make more sense here and rather attached to units
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="achievementType">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation>
					A unit is a component of a qualification, consisting of a coherent set of knowledge, skills and competence that can be assessed and validated with a number of associated ECVET
					points. achievment
					is a container to make the consisting types (re)usable for unit / learningOutcomeTerm
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="assessmentList" type="assessmentListType" />
			<xsd:element name="validationList" type="validationListType" />
			<xsd:element name="recognitionList" type="recognitionListType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="validationListType">
		<xsd:sequence>
			<xsd:element name="validation" type="validationType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						the 'particular' validation of the learningOutcome @see validationType
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="validationType">
		<xsd:annotation>
			<xsd:documentation>
				According to: C 155/14 Annex 1 - Definitions (g) --- ‘Validation of learning outcomes’ means the process of confirming that certain assessed learning outcomes achieved by a
				learner correspond to specific
				outcomes which may be required for a unit or a qualification
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="confirmingRequirement" type="confirmingRequirementType">
				<xsd:annotation>
					<xsd:documentation>
						According to: C 155/14 Annex 1 - Definitions (g) --- ... confirming ... which may be required ...
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="confirmingRequirementType">
		<xsd:annotation>
			<xsd:documentation>
				According to: C 155/14 Annex 1 - Definitions (g) --- ... confirming ... which may be required ...
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="assessmentURI" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						the reference to the described assessment: @see definition (f)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="requirementList" type="requirementListType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="requirementListType">
		<xsd:sequence>
			<xsd:element name="requirement" type="requirementType" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="requirementType">
		<xsd:attribute name="URI" type="xsd:string" />
		<xsd:attribute name="threshold" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="assessmentListType">
		<xsd:sequence>
			<xsd:element name="assessment" type="assessmentType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>the procedures and criteria for assessment of these learning outcomes,
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="assessmentType">
		<xsd:annotation>
			<xsd:documentation>
				According to: C 155/14 Annex 1 - Definitions (f) --- ‘Assessment of learning outcomes’ means methods and processes used to establish the extent to which a learner has in fact
				attained particular knowledge,
				skills and competence
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="methodList" type="methodListType">
				<xsd:annotation>
					<xsd:documentation>
						According to: C 155/14 Annex 1 - Definitions (f) --- The methods used to establish
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="processList" type="processListType">
				<xsd:annotation>
					<xsd:documentation>
						According to: C 155/14 Annex 1 - Definitions (f) --- The processes used to establish
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="processListType">
		<xsd:sequence>
			<xsd:element name="process" type="processType" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="processType">
		<xsd:attribute name="URI" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="methodListType">
		<xsd:sequence>
			<xsd:element name="method" type="methodType" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="methodType">
		<xsd:attribute name="URI" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="competentInstitutionListType">
		<xsd:annotation>
			<xsd:appinfo>
				<annox:annotate target="field">
					<Entity annox:class="javax.persistence.Entity"></Entity>
					<Table annox:class="javax.persistence.Table" name="competentinstitutionlist"></Table>
				</annox:annotate>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="evcetElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="competentInstitution" type="competentInstitutionType">
						<xsd:annotation>
							<xsd:appinfo>
								<annox:annotate target="field">
									<ManyToMany annox:class="javax.persistence.ManyToMany">
										<cascade>PERSIST</cascade>
										<cascade>MERGE</cascade>
										<cascade>DETACH</cascade>
									</ManyToMany>
									<JoinTable annox:class="javax.persistence.JoinTable">
										<joinColumns>
											<JoinColumn annox:class="javax.persistence.JoinColumn" name="competentinstitutionlist_id"></JoinColumn>
										</joinColumns>
										<inverseJoinColumns>
											<JoinColumn annox:class="javax.persistence.JoinColumn" name="competentinstitution_id"></JoinColumn>
										</inverseJoinColumns>
									</JoinTable>
								</annox:annotate>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="competentInstitutionType">
		<xsd:annotation>
			<xsd:documentation>
				According to: C 155/14 Annex 1 - Definitions (e) -- ‘Competent institution’ means an institution which is responsible for designing and awarding qualifications or recognising
				units or other functions
				linked to ECVET, such as allocation of ECVET points to qualifications and units, assessment, validation and recognition of learning outcomes, under the rules and practices
				of participating
				countries
			</xsd:documentation>
			<xsd:appinfo>
				<annox:annotate target="field">
					<Entity annox:class="javax.persistence.Entity"></Entity>
					<Table annox:class="javax.persistence.Table" name="competentinstitution"></Table>
				</annox:annotate>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="evcetElement">
				<xsd:sequence>
					<xsd:element name="partnerList" type="partnerListType">
						<xsd:annotation>
							<xsd:documentation>
								ANNEX II ECVET — PRINCIPLES AND TECHNICAL SPECIFICATIONS ... are defined by competent institutions and partners involved in the training process...
							</xsd:documentation>
							<xsd:appinfo>
								<annox:annotate target="field">
									<OneToOne annox:class="javax.persistence.OneToOne" targetEntity="eu.open_ecvet.entity.PartnerListType"></OneToOne>
								</annox:annotate>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="legislation" type="legislationType">
						<xsd:annotation>
							<xsd:appinfo>
								<annox:annotate target="field">
									<OneToOne annox:class="javax.persistence.OneToOne" targetEntity="eu.open_ecvet.entity.LegislationType"></OneToOne>
								</annox:annotate>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="legislationType">
		<xsd:annotation>
			<xsd:appinfo>
				<annox:annotate target="field">
					<Entity annox:class="javax.persistence.Entity"></Entity>
					<Table annox:class="javax.persistence.Table" name="legislation"></Table>
				</annox:annotate>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="evcetElement">
				<xsd:sequence>
					<xsd:annotation>
						<xsd:documentation>
							description of the specific rules and practices for this qualification in the country (references to the definition in (e))
						</xsd:documentation>
					</xsd:annotation>
					<xsd:element name="rules" type="xsd:string"></xsd:element>
					<xsd:element name="practices" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="learningAgreementListType">
		<xsd:annotation>
			<xsd:appinfo>
				<annox:annotate target="field">
					<Entity annox:class="javax.persistence.Entity"></Entity>
					<Table annox:class="javax.persistence.Table" name="learningagreementlist"></Table>
				</annox:annotate>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="evcetElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="learningAgreement" type="learningAgreementType">
						<xsd:annotation>
							<xsd:appinfo>
								<annox:annotate target="field">
									<ManyToMany annox:class="javax.persistence.ManyToMany">
										<cascade>PERSIST</cascade>
										<cascade>MERGE</cascade>
										<cascade>DETACH</cascade>
									</ManyToMany>
									<JoinTable annox:class="javax.persistence.JoinTable">
										<joinColumns>
											<JoinColumn annox:class="javax.persistence.JoinColumn" name="learningagreementlist_id"></JoinColumn>
										</joinColumns>
										<inverseJoinColumns>
											<JoinColumn annox:class="javax.persistence.JoinColumn" name="learningagreement_id"></JoinColumn>
										</inverseJoinColumns>
									</JoinTable>
								</annox:annotate>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="learningAgreementType">
		<xsd:annotation>
			<xsd:appinfo>
				<annox:annotate target="field">
					<Entity annox:class="javax.persistence.Entity"></Entity>
					<Table annox:class="javax.persistence.Table" name="learningagreement"></Table>
				</annox:annotate>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="evcetElement"></xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="recognitionListType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" name="recognition" type="recognitionType"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="recognitionType">
		<xsd:sequence>
			<xsd:element name="title" type="xsd:string" />
			<xsd:element name="competentInstitutionURI" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						referes to the competentInstitutionType URI
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="certificateTemplate" type="fileDataType">
				<xsd:annotation>
					<xsd:documentation>
						dummy to show how digital content can be attached
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="URI" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="partnerListType">
		<xsd:annotation>
			<xsd:appinfo>
				<annox:annotate target="field">
					<Entity annox:class="javax.persistence.Entity"></Entity>
					<Table annox:class="javax.persistence.Table" name="partnerlist"></Table>
				</annox:annotate>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="evcetElement">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="partner" type="partnerType">
						<xsd:annotation>
							<xsd:appinfo>
								<annox:annotate target="field">
									<ManyToMany annox:class="javax.persistence.ManyToMany">
										<cascade>PERSIST</cascade>
										<cascade>MERGE</cascade>
										<cascade>DETACH</cascade>
									</ManyToMany>
									<JoinTable annox:class="javax.persistence.JoinTable">
										<joinColumns>
											<JoinColumn annox:class="javax.persistence.JoinColumn" name="partnerlist_id"></JoinColumn>
										</joinColumns>
										<inverseJoinColumns>
											<JoinColumn annox:class="javax.persistence.JoinColumn" name="partner_id"></JoinColumn>
										</inverseJoinColumns>
									</JoinTable>
								</annox:annotate>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="partnerType">
		<xsd:annotation>
			<xsd:appinfo>
				<annox:annotate target="field">
					<Entity annox:class="javax.persistence.Entity"></Entity>
					<Table annox:class="javax.persistence.Table" name="partner"></Table>
				</annox:annotate>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="evcetElement"></xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="fileDataType">
		<xsd:sequence>
			<xsd:element name="data" type="xsd:base64Binary">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Includes the raw base-64 encoded bytes of the document.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="evcetElement">
		<xsd:annotation>
			<xsd:appinfo>
				<annox:annotate target="field">
					<MappedSuperclass annox:class="javax.persistence.MappedSuperclass"></MappedSuperclass>
				</annox:annotate>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="id" nillable="true" type="xsd:int">
				<xsd:annotation>
					<xsd:appinfo>
						<annox:annotate target="field">
							<Id annox:class="javax.persistence.Id"></Id>
							<GeneratedValue annox:class="javax.persistence.GeneratedValue" strategy="IDENTITY"></GeneratedValue>
							<XmlTransient annox:class="javax.xml.bind.annotation.XmlTransient"></XmlTransient>
						</annox:annotate>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="title" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						qualification and unit must have a title, this might be unsefull also for other elements
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo>
						<annox:annotate target="field">
							<Lob annox:class="javax.persistence.Lob"></Lob>
						</annox:annotate>
					</xsd:appinfo>
					<xsd:documentation>
						not recommended, but usefull to give further explanations to the title
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="URI" type="xsd:string" />
	</xsd:complexType>
	<xsd:simpleType name="frameworkType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="EQF" />
			<xsd:enumeration value="DQF" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="frameworkLevelType">
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="1" />
			<xsd:maxInclusive value="8" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="frameworkTermType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="all" />
			<xsd:enumeration value="knowledge" />
			<xsd:enumeration value="skills" />
			<xsd:enumeration value="competences" />
		</xsd:restriction>
	</xsd:simpleType>
	<!-- TODO: consider this -->
	<!-- <xsd:complexType name="eqfType"> <xsd:sequence> <xsd:element name="terms" type="termsType"></xsd:element> </xsd:sequence> </xsd:complexType> <xsd:complexType name="termsType"> <xsd:sequence> <xsd:element 
		name="knowledge" type="knowledgeType"> TODO: consider all this types extend levelType </xsd:element> <xsd:element name="skills" type="skillsType"></xsd:element> <xsd:element name="competences" type="competencesType"></xsd:element> 
		</xsd:sequence> </xsd:complexType> -->
</xsd:schema>